acadre_esdh/plugins/cp/TraenPublishingDestinationSystemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TraenPublishingDestinationSystemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TraenPublishingDestinationSystemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="!endpointurl?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityLayout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityLayout" nillable="true" type="tns:EntityLayout" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationSystemID" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationSystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentEntityID" type="xs:int" />
      <xs:element minOccurs="0" name="SourceSystemID" type="xs:int" />
      <xs:element minOccurs="0" name="SourceSystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="EntityItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentKey" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="Status" type="tns:EntityStatus" />
      <xs:element minOccurs="0" name="SubEntityItemGroups" nillable="true" type="tns:ArrayOfSubEntityItemGroup" />
      <xs:element minOccurs="0" name="TriggerRules" nillable="true" type="tns:ArrayOfTriggerRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityItem" nillable="true" type="tns:EntityItem" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="FieldString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldString" nillable="true" type="tns:FieldString" />
  <xs:complexType name="FieldGUID">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldGUID" nillable="true" type="tns:FieldGUID" />
  <xs:complexType name="FieldLong">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldLong" nillable="true" type="tns:FieldLong" />
  <xs:complexType name="FieldInt">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldInt" nillable="true" type="tns:FieldInt" />
  <xs:complexType name="FieldBoolean">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldBoolean" nillable="true" type="tns:FieldBoolean" />
  <xs:complexType name="FieldDouble">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldDouble" nillable="true" type="tns:FieldDouble" />
  <xs:complexType name="FieldDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldDateTime" nillable="true" type="tns:FieldDateTime" />
  <xs:simpleType name="EntityStatus">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="EntityStatus" nillable="true" type="tns:EntityStatus" />
  <xs:complexType name="ArrayOfSubEntityItemGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubEntityItemGroup" nillable="true" type="tns:SubEntityItemGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubEntityItemGroup" nillable="true" type="tns:ArrayOfSubEntityItemGroup" />
  <xs:complexType name="SubEntityItemGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityItemGroup" nillable="true" type="tns:ArrayOfEntityItem" />
      <xs:element minOccurs="0" name="Name" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubEntityItemGroup" nillable="true" type="tns:SubEntityItemGroup" />
  <xs:complexType name="ArrayOfEntityItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityItem" nillable="true" type="tns:EntityItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityItem" nillable="true" type="tns:ArrayOfEntityItem" />
  <xs:complexType name="ArrayOfTriggerRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TriggerRule" nillable="true" type="tns:TriggerRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTriggerRule" nillable="true" type="tns:ArrayOfTriggerRule" />
  <xs:complexType name="TriggerRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TriggerRule" nillable="true" type="tns:TriggerRule" />
</xs:schema>
